.header_area .favourite-area a, .header_area .user-login-info a, .header_area .cart-area a {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    width: 90px;
    display: block;
    text-align: center;
    border-left: 1px solid #ebebeb;
    height: 100%;
    line-height: 80px;
    padding-top: 32px;
}
.right-side-cart-area .cart-button a {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 100;
    width: 90px;
    display: block;
    text-align: center;
    border-left: 1px solid #ebebeb;
    height: 85px;
    line-height: 80px;
    background-color: #f5f7f9;
    padding-top: 32px;
}

@media only screen and (max-width: 767px) {
    .header_area .favourite-area a, .header_area .user-login-info a, .header_area .cart-area a {
        position: relative;
        z-index: 1;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
        width: 90px;
        display: block;
        text-align: center;
        border-left: 1px solid #ebebeb;
        height: 100%;
        line-height: 80px;
        padding-top: 10px;
    }
}